* {
    margin: 0;
    font-family:'Quicksand','Poppins',sans-serif;

}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items:stretch;
    gap: 15px;
}

body {
    height: 100vh;
    background: url(images/background_2.jpeg) no-repeat center center/cover;
    display: flex;
    margin: 80px;
}
    
.heading {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: rgb(95, 124, 107);
    font-weight: 700;
    font-family: 'QuickSand';
    margin-bottom: 30px;
}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background-color: rgb(168, 197, 180);
    border-radius: 30px;
    box-shadow: 0 0 3px;

    display:flex;
}

input {
    flex: 5;
    margin-right: 10px;
    border-width: solid 2px ;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 10px;
}

#add-task {
    flex: 0.5;
    transition: .5s;

    font-size: 1.2rem;
    padding: 5px;
    color: rgb(22, 82, 55);

    border-radius: 10px;
}

#add-task:hover {
    background-color: rgb(15, 55, 28);
    color: white;
}

/* Styling for task which get added to to_do list */

.task {
    width: 100%;
    background: white;
    border-radius: 10px;
    border: solid 3px rgb(168, 197, 180);
    box-shadow: 0 0 3px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.task .checkTask {
    color: rgb(231, 172, 53);
    margin-right: 5px;
    border: solid 2px rgb(231, 172, 53) ;
    font-size: 1.5rem;
}

.task .checkTask:hover{
    background-color:  rgb(231, 172, 53);
    color: white;
}

.task .deleteTask {
    color: rgb(168, 44, 44);
    border: solid 2px rgb(168, 44, 44) ;
    font-size: 1.5rem;
}

.task .deleteTask:hover{
    background-color: rgb(168, 44, 44);
    color: white;
}

